<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Shopping List</title>
	<link rel="stylesheet" href="/style.css" type="text/css">
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="/client.js"></script>
</head>
<body>
	<div class="container">
		<div class="heading">
			<h1>My <span>Shopping</span> List</h1>
			<p>Don't Come Home Without It!</p>
		</div>
		<div class="list-content">
			
			<div class="item-input-div">
				<input type="text" class="item-input" autofocus>
			</div>

			<ul class="shopping-list">
				<!-- <li>Sample Item</li> -->
			</ul>

			<button class="add-item">Add Item</button>
		
		</div>
	</div>
</body>
</html>